<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Landmarks</title>
    <script type="application/javascript" src="{{ static_url }}/js/site.js"></script>
    <link rel="stylesheet" href="{{ static_url }}/css/site.css">
</head>
<body onload="init()">
    <div id="camera-container">
        <video autoplay id="video-element">
        </video>
    </div>
    <div class="container pad-top-small pad-bottom-small">
        <button id="take-snapshot" onclick="takeSnapshot()">Take Snapshot</button>
        <button id="send-to-server" class="disabled" onclick="detectLandmarks()">Detect</button>
    </div>
    <div id="image-preview" class="container">
    </div>
    <ul id="messages" class="container"></ul>
</body>
</html>